h1, h2, h5{
  font-weight: bold;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
*{
  box-sizing: border-box;
}
.one{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 25%;
  text-shadow: black 0.1em 0.1em 0.1em;
  margin-bottom: 0px;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
}

.two{
  background-color: white;
  text-align: center;
}
.three{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 25%;
  text-shadow: black 0.1em 0.1em 0.1em;
  margin-bottom: 0px;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg);
}
.services{
  color: white;
}
.four{
  background-color: white;
  text-align: center;
}
.col-lg-{
  width: 33.33%;
}


.five{
  text-align: center;
  background-color: white;
  box-sizing: border-box;
}
.six{
  background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 25%;
  text-shadow: black 0.1em 0.1em 0.1em;
  margin-bottom: 0px;
}
.contact-us{
  padding-left: 40%;
}
.submit{
  padding-left: 50%;
  width: 30px;
}
#submit-part{
  font-size: large;
  background-color: transparent;
  color: white;
}
.row-area{
  margin-top: 10px;
}
.area-input{
  width: 500px;
  background-color: transparent;
  color: white;
}
.column-wrap{
  margin-left: 10px;
  border: 2px;
  font-weight: bold;
}
.message-area{
  width: 1000px;
  background-color: transparent;
  color: white;
}
.work{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 20px;
  border-radius: 40%;
  background-color: white;
  margin: 0px 10px;
}
.seven{
  background-color: white;
}
.footer-text{
  text-align: center;
  margin-top: 20px;
}
.col{
  width: 12.5%;
}
.p-text, .p-text1, .p-text2{
  display: none;
}
::placeholder{
  color: white;
  font-weight: 1px;
}
.card{
  position: relative;
  text-align: center;
}
.para{
  position: absolute;
  text-align: center;
  color: blue;
  background: white;
  visibility: hidden;
  opacity: 0;
}
.text{
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.middle{
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image-eight{
  opacity: 1;
  display: block;
  transition: ease 0.5s;
  backface-visibility: hidden;
  height: 200px;
  width: auto;
}
.opac{
  position: relative;
  padding: 0 5px 5px;
  box-sizing: border-box;
}
.opac:hover .image-eight{
  opacity: 0.3;
}
.opac:hover .middle{
  opacity: 1;
}
.port{
  margin-top: 4%;
}
.section-five, .section-five2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.section-five2{

}